#imageContainer{
    text-align: center;
}

#imageContainer img{
    display: inline-block;
    margin: 5px; 
    width: auto;
    height: 20em;
}


#btn1, #btn2 {
    background-color: #9ac1db; 
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    margin: 5px; 
}

#btn1:hover, #btn2:hover {
    background-color: #a0bdd1; 
}
